#!/bin/bash

# The root of the URL where you browse Stash (i.e. https://stash.mycompany.com)
# export STASH_URL_ROOT=""

# The root of the URL where you browse GitLab (i.e. https://gitlab.myorg.com)
# export GITLAB_URL_ROOT=""

# Path to Git completion bash script
# (https://github.com/git/git/blob/master/contrib/completion/git-completion.bash)
#export GIT_COMPLETION="/full/absolute/path/to/.gitcompletion.bash"
